.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 1rem;
  transition: all .4s ease-in-out;
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-title {
  color: #333;
  font-weight: 600;
}

.btn-primary {
  padding: 0.8rem;
  font-weight: 500;
}

.btn-primary {
  --bs-btn-bg: #c62b66 !important;
  --bs-btn-border-color: #c62b52 !important;
  --bs-btn-hover-bg: #da3775 !important;
  --bs-btn-hover-border-color: #da3775 !important;
  --bs-btn-active-bg: #c62b52 !important;
  --bs-btn-active-border-color: #c62b52 !important;
  --bs-btn-disabled-bg: #c62b52 !important;
  --bs-btn-disabled-border-color: #c62b52 !important;
}
.btn-link {
  --bs-btn-color: #f75a96 !important;
  --bs-btn-hover-color: #fc6da4 !important;
  text-decoration: none;
}
.btn-link:focus, .btn-link:hover {
  text-decoration: underline;
}

#iniciar {
  border-width: .15rem;
  border-color: #eb3d80 !important;
  background-color: #a6194f7d !important;
  transform: scale(1.0);
  letter-spacing: .15rem;
  transition: all .2s ease-in-out;
}
#iniciar:hover {
  transform: scale(1.1);
  letter-spacing: .25rem;
  border-color: #da3775 !important;
  background-color: #da3775 !important;
}

#test {
  transform: translateY(0);
  transition: all .6s ease-in-out;
}
#test.active {
  transform: translateY(-100%);
}

/* Máscara circular */
#mask {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  --x: 50%;
  --y: 50%;
  clip-path: circle(0% at var(--x) var(--y));
  transition: clip-path .6s ease-in-out;
  pointer-events: none;
}

#mask.active {
  clip-path: circle(100% at var(--x, 50%) var(--y, 50%));
  pointer-events: all;
}
#tienda-link {
  border-width: .15rem;
  border-color: #ffffff !important; /* Borde blanco */
  background-color: transparent !important; /* Fondo transparente */
  color: #ffffff !important; /* Texto blanco */
  transform: scale(1.0);
  letter-spacing: .15rem;
  transition: all .2s ease-in-out;
  /* Aseguramos que tenga el mismo ancho que el otro botón si es necesario */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#tienda-link:hover {
  transform: scale(1.1);
  letter-spacing: .25rem;
  border-color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1) !important; /* Brillo blanco al pasar el mouse */
}