.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 1rem;
  transition: all .4s ease-in-out;
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-title {
  color: #333;
  font-weight: 600;
}

.btn-primary {
  padding: 0.8rem;
  font-weight: 500;
}

.btn-primary {
  --bs-btn-bg: #c62b66 !important;
  --bs-btn-border-color: #c62b52 !important;
  --bs-btn-hover-bg: #da3775 !important;
  --bs-btn-hover-border-color: #da3775 !important;
  --bs-btn-active-bg: #c62b52 !important;
  --bs-btn-active-border-color: #c62b52 !important;
  --bs-btn-disabled-bg: #c62b52 !important;
  --bs-btn-disabled-border-color: #c62b52 !important;
}
.btn-link {
  --bs-btn-color: #f75a96 !important;
  --bs-btn-hover-color: #fc6da4 !important;
  text-decoration: none;
}
.btn-link:focus, .btn-link:hover {
  text-decoration: underline;
}