/* Sidebar transición */
#sidebar {
  transition: all 0.3s ease;
}

/* En pantallas medianas y grandes siempre visible */
@media (min-width: 768px) {
  #sidebar {
    display: flex !important;
  }
}

.nav-link {
  transition: all .3s ease-in-out;
}
.nav-link.active, .nav-link:hover {
  background-color: #dc3545;
}